
@font-face {
    font-family: 'Quantum', arial;
    font-style: normal;
    font-weight: 600;
    src:local(Quantum), url('fuentes/Quantum.ttf')format('truetype');
}
@font-face {
    font-family: 'TradeGothic', arial;
    font-style: normal;
    font-weight: 600;
    src:local(TradeGothic), url('fuentes/TradeGothic.otf')format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 180px;
    background:black;
    position: fixed;
    z-index: 100;
}
.logo{
    width: 20%;
    margin-left: 3%;
    padding: 10px;
    margin-top: 15px;
   
   
}

#header-out-right{
    position: absolute;
    right: 0;
    top: 50px;
    border-top: 1px solid white;
    width: 63%;
    overflow: hidden;
    z-index: 1; 
    
} 
.menu{
    width: auto;
    float: right;
    margin-top: 15px;
    margin-right: 2%;
}
.menu ul{
    display: flex;
 
}
.menu li{
    list-style: none;
}
li:nth-of-type(1) a:focus{
	color: red;

}
li:nth-of-type(2) a:focus{
	color: red;

}
li:nth-of-type(3) a:focus{
	color: red;

}
li:nth-of-type(4) a:focus{
	color: red;

}
li:nth-of-type(5) a:focus{
	color: red;}
.menu li a{
    padding: 6px 10px;
   text-decoration: none;
   margin-right: 2px;
   color: white;
   font-weight: 500;
   font-family: 'Raleway', sans-serif;
   font-size: 17px;
   
}

.menu li a:hover{
    color: red;  
}
#check{
    display: none;
}
.icon-menu{
    display: none;
}
#check:checked ~.menu{
    height: 290px;
}
main{
    top: 127px;
    position: relative;
    
}
#main-container{
    top: 167px;
    position: relative;   
}
.ulsociales{
    display: flex;
    margin-right: -10%
}
.ulsociales li{
    list-style: none;
}
.social{
    padding: 2px;
}
.social img{
    width: 70%;
    float: right;
}
main{
    top: 97px;
    position: relative;
    
}
@media screen and (max-width: 900px){
    .icon-menu{
        display: block;
        color:red;
        float: right;
        padding: 8px;
        font-size: 26px;
        border: 1px  solid red; 
        border-radius: 5px;
        margin-top: 18px;
        margin-right: 35px;
    }
    .icon-menu:hover{
    font-size: 28px;
    cursor: pointer;
    }
    .menu{
        float: left;
        margin-top: 0px;
        width: 100%;
        height: 0px;
        overflow: hidden;
        background: black;
        transition: all 300ms;
    }
    .menu ul{
        flex-direction: column;    
    }
    .menu li a{
        display: block;
    }
    .ulsociales li{
        display: none;
    }
    }

    .active, .li:hover {
        background-color: #666;
        color: white;
      }
    /*jdkjsh/*/
    #header-out {
        background-color: #000;
        z-index: 2;
      
        height: 150px;
    }
    #offlajn-ajax-search {
        float: right;
        margin-left: 70%;
     
    }
    #vmsearchform, #results_moovable, #results_inner, #search-results .page-container {
        position: relative;
    }
    #vmsearchform {
        padding-top: 3px;
    }
    #ajaxvmsearcharea, #vmsearchbutton, #search-results .plugin-title-inner, #search-results .pager, #search-results .page-element, #search-results .result-element img, #search-results .result-element span {
        float: left;
    }
    #ajaxvmsearcharea {
        height: 23px;
        width: 150px;
        padding-left: 5px;
        padding-right: 25px;
        border: 1px #303031 solid;
        line-height: 23px;
        background: url(jfsearch-bg.jpg) repeat-y bottom right;
        color: #aaaaaa;
    }
    .search-caption-on {
        color: #aaa;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .pager {
        padding: 0;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .plugin-title {
        margin: 0;
    }
    #vmsearchclosebutton, #search-results {
        visibility: hidden;
    }
    #vmsearchclosebutton, #vmsearchbutton, #search-results .pager:hover, #search-results .result-element span {
        cursor: pointer;
    }
    #vmsearchclosebutton, #search-results, #search-results .page-band {
        position: absolute;
    }
    #vmsearchclosebutton, #vmsearchbutton .magnifier {
        width: 40px;
    }
    #vmsearchclosebutton, #vmsearchbutton, #vmsearchbutton .magnifier {
        height: 38px;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .pager {
        padding: 0;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .plugin-title {
        margin: 0;
    }
    #vmsearchbutton {
        width: 38px;
    }
    #vmsearchclosebutton, #vmsearchbutton, #search-results .pager:hover, #search-results .result-element span {
        cursor: pointer;
    }
    #vmsearchbutton, #vmsearchbutton .magnifier {
        display: none;
    }
    #vmsearchclosebutton, #vmsearchbutton, #vmsearchbutton .magnifier {
        height: 38px;
    }
    #vmsearchbutton .magnifier {
        background: url(suche.gif) no-repeat center center;
        z-index: 98;
    }
    #vmsearchclosebutton, #vmsearchbutton .magnifier {
        width: 40px;
    }
    #vmsearchbutton, #vmsearchbutton .magnifier {
        display: none;
    }
    #vmsearchclosebutton, #vmsearchbutton, #vmsearchbutton .magnifier {
        height: 38px;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .pager {
        padding: 0;
    }
    
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .plugin-title {
        margin: 0;
    }
    #search-results .ajax-clear, #vmsearchform .ajax-clear {
        clear: both;
    }
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .pager {
        padding: 0;
    }
    
    #vmsearchform div, #vmsearchbutton .magnifier, #search-results .plugin-title {
        margin: 0;
    }

    /*querys*/

@media screen and (max-width: 700px){
    .flashnewstext   img{
        margin-left: 2%;
    }
}